.App {
  text-align: center;
}

div {
  line-height: 20px;
}

.input-container {
  margin: 50px 0px 15px 0px;
}

.input-container .input-box {
  min-height: 20px;
  min-width: 180px;
}

.box {
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
}
